<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Specified Homepage</title>
</head>
<body>
    <h1>Specified Homepage</h1>
    
    {% for user_content in all_users_content %}
        <div class="user-content">
            <p>{{ user_content[0] }}:</p>
            <div>{{ user_content[1] | safe }}</div>
        </div>
    {% endfor %}
</body>
</html>
